<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.czc.blackblub">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="cyanogenmod.permission.PUBLISH_CUSTOM_TILE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.czc.blackblub.app.BlackbulbApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_contents"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.czc.blackblub.MainActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.czc.blackblub.LauncherAdActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true">
        </activity>

        <activity
            android:name="com.czc.blackblub.SplashActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"/>

        <activity
            android:name="com.czc.blackblub.SplashResultActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"/>

        <activity
            android:name="com.czc.blackblub.ToggleActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_shortcut_switch"
            android:label="@string/shortcut_label_switch"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Empty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.czc.blackblub.service.MaskService"
            android:process=":mask">
            <intent-filter>
                <action android:name="com.czc.blackblub.IMaskServiceInterface" />
            </intent-filter>
        </service>

        <service
            android:name="com.czc.blackblub.service.MaskTileService"
            android:icon="@drawable/ic_brightness_2_white_36dp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.czc.blackblub.receiver.ActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.czc.blackbulb.ACTION_UPDATE_STATUS" />
                <action android:name="com.czc.blackbulb.ALARM_ACTION_START" />
                <action android:name="com.czc.blackbulb.ALARM_ACTION_STOP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>